<!DOCTYPE html>
{% load static %}

{% load datefilter %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Website {{ me.info.about.name_en }}</title>

    
    <!-- ============ FAVICON ============ -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <!-- ============ ALL PLUGIN CSS ============ -->
    <link rel="stylesheet" href="{% static 'vendor/css/plugin.min.css' %}">
    <!-- ============ CUSTOM STYLESHEET ============ -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- ============ SHARP MODE STYLESHEET ============ -->
    <link id="sharpMode" rel="stylesheet" href="#">
    <link id="darkMode" rel="stylesheet" href="#">
</head>
<body>
    <div class="content-wrap">
        <!-- PRELOADER START -->
        <div class="preloader">
            <img src="{% static 'images/loader.gif' %}" alt="loading">
        </div>
        <!-- PRELOADER END -->


        <!-- ============ SETTIGS SIDEBAR START ============ -->
        <div class="sidebar-overlay">
            <div class="sidebar">
                <h3><span><i class="fa-regular fa-gear"></i> Settings</span> <button class="sidebar-close"><i class="fa-thin fa-xmark"></i></button></h3>
                <div class="bottom">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="shapeChange">
                        <label class="form-check-label" for="shapeChange">Switch to Sharp mode</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="themeChange">
                        <label class="form-check-label" for="themeChange">Switch to Dark mode</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ SETTIGS SIDEBAR END ============ -->


        <!-- ============ HEADER SECTION START ============ -->
        <div class="header">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="logo">
                            <a href="#">
                                <img id="logo" src="{% static 'images/logo.png' %}" alt="LOGO">
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="nav-btn">
                            <a href="{% url 'core:home_fa' %}" class="theme-btn">FA</a>
                            <a role="button" id="sidebar"><i class="fa-thin fa-gear"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ HEADER SECTION END ============ -->


        <!-- ============ BANNER SECTION START ============ -->
        <div class="banner">
            <div class="main-social">
                <a href="{{ me.info.about.facebook }}" title="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="{{ me.info.about.twitter }}" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="{{ me.info.about.linkedin }}" title="Linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="{{ me.info.about.skype }}" title="Skype"><i class="fa-brands fa-skype"></i></a>
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 nav-col">
                        <div class="nav-wrap">
                            <div class="nav-grid">
                                <div class="single-item">
                                    <a role="button" class="section-btn" data-section="about">
                                        <span class="icon"><i class="fa-thin fa-circle-user"></i></span>
                                        <span class="txt">ABOUT</span>
                                    </a>
                                </div>
                                <div class="single-item">
                                    <a role="button" class="section-btn" data-section="service">
                                        <span class="icon"><i class="fa-thin fa-gear"></i></span>
                                        <span class="txt">SERVICE</span>
                                    </a>
                                </div>
                                <div class="single-item">
                                    <a role="button" class="section-btn" data-section="portfolio">
                                        <span class="icon"><i class="fa-thin fa-folder-open"></i></span>
                                        <span class="txt">PORTFOLIO</span>
                                    </a>
                                </div>
                                <div class="single-item">
                                    <a role="button" class="section-btn" data-section="faq">
                                        <span class="icon"><i class="fa-thin fa-circle-question"></i></span>
                                        <span class="txt">FAQ</span>
                                    </a>
                                </div>
                                <div class="single-item">
                                    <a role="button" class="section-btn" data-section="gallery">
                                        <span class="icon"><i class="fa-thin fa-image"></i></span>
                                        <span class="txt">GALLERY</span>
                                    </a>
                                </div>
                                <div class="single-item">
                                    <a role="button" class="section-btn" data-section="blog">
                                        <span class="icon"><i class="fa-thin fa-file-pen"></i></span>
                                        <span class="txt">BLOG</span>
                                    </a>
                                </div>
                                <div class="single-item">
                                    <a role="button" class="section-btn" data-section="contact">
                                        <span class="icon"><i class="fa-thin fa-user-plus"></i></span>
                                        <span class="txt">CONTACT</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
	                <div class="col-md-6">
                        <div class="banner-txt">
                            <h3>Hello!</h3>
                            <h1><span>I'm</span> {{ me.info.about.name_en }}.</h1>
                            <h2>{{ me.info.about.profession_en }}</h2>
                            <p>{{ me.info.about.describe_short_en }}</p>
                            <div class="btn-box">
                                <a href="#" class="section-btn def-btn" data-section="about"><i class="fa-light fa-user"></i> About Me</a>
                                <a href="{{ me.info.about.resume_en.url }}" class="def-btn"><i class="fa-light fa-file-lines"></i> Downoad CV</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ BANNER SECTION END ============ -->


        <!-- ============ ABOUT SECTION START ============ -->
        <div class="about section-panel" id="about">
            <button class="panel-close-btn" data-close="about"><i class="fa-light fa-xmark"></i></button>
            <div class="about-content">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-5 col-md-6">
                            <div class="part-img">
                                <img src="{% static 'images/about-img.png' %}" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="part-txt">
                                <h2 class="section-title">About <span>Me</span></h2>
                                <p>I'm a {{ me.info.about.profession_en }}.</p>
                                <p>{{ me.info.about.describe_en }}</p>
                                <div class="progress-wrap">
                                    {% for skill in me.info.skills.all %}
                                    <div class="progress-box">
                                        <div class="circle-progressbar" data-animate="false">
                                            <div class="circle" data-percent="{{ skill.percent }}" data-thick="15">
                                                <div class="txt">
                                                    <span class="percent"></span>
                                                    <p>{{ skill.name_en }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fun-fact">
                <div class="container">
                    <div class="row g-0 gy-4">
                        <div class="col-md-3 col-6">
                            <div class="single-box single-box-2">
                                <div class="part-icon">
                                    <span><i class="fa-thin fa-badge-check"></i></span>
                                </div>
                                <h2><span class="odometer" data-count="{{ me.info.about.year_experience }}">0</span>+</h2>
                                <p>Years Experience</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="single-box single-box-2">
                                <div class="part-icon">
                                    <span><i class="fa-thin fa-list-check"></i></span>
                                </div>
                                <h2><span class="odometer" data-count="{{ me.info.about.project_count }}">0</span>+</h2>
                                <p>Project Completed</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="single-box single-box-2">
                                <div class="part-icon">
                                    <span><i class="fa-thin fa-users"></i></span>
                                </div>
                                <h2><span class="odometer" data-count="{{ me.info.about.customer_count }}">0</span>+</h2>
                                <p>Happy Clients</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="single-box">
                                <div class="part-icon">
                                    <span><i class="fa-thin fa-mug-hot"></i></span>
                                </div>
                                <h2><span class="odometer" data-count="{{ me.info.about.tea_count }}">0</span>+</h2>
                                <p>Cups Of Tea</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="education">
                <div class="container">
                    <div class="row rg-60">
                        <div class="col-md-6">
                            <h2 class="section-title">Education</h2>
                            <ul>
                                {% for education in me.info.educations %}
                                <li>
                                    <div class="single-box">
                                        <span class="duration">{{ education.date_en }}</span>
                                        <h3 class="title">{{ education.grade_en }}</h3>
                                        <p>{{ education.academy_en }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h2 class="section-title">Experience</h2>
                            <ul>
                                {% for ex in me.info.experiences %}
                                <li>
                                    <div class="single-box">
                                        <span class="duration">{{ ex.date_en }}</span>
                                        <h3 class="title">{{ ex.position_en }}</h3>
                                        <p>{{ ex.company_name_en }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ ABOUT SECTION END ============ -->


        <!-- ============ SERVICE SECTION START ============ -->
        <div class="service section-panel" id="service">
            <button class="panel-close-btn" data-close="service"><i class="fa-light fa-xmark"></i></button>
            <div class="service-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-5">
                            <h2 class="section-title title-center"><span>My</span> Experties</h2>
                        </div>
                    </div>
                    <div class="row g-md-4 g-sm-3 g-4 justify-content-between">
                        {% for profession in me.info.professions %}
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-service-box">
                                <div class="part-icon">
                                    <span><i class="fa-thin {{ profession.type }}"></i></span>
                                </div>
                                <div class="part-txt">
                                    <h3>{{ profession.name_en }}</h3>
                                    <p>{{ profession.description_en }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="cta">
                <div class="container">
                    <div class="d-sm-flex d-block align-items-center">
                        <div class="part-txt">
                            <h2>Have Any Project In Mind?</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pricing">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-5">
                            <h2 class="section-title title-center"><span>Pricing</span> Plan</h2>
                        </div>
                    </div>
                    <div class="row g-md-4 g-sm-3 g-4 justify-content-center">
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-price">
                                <div class="top">
                                    <h3>Single</h3>
                                    <div class="part-icon">
                                        <span><i class="fa-light fa-sun"></i></span>
                                    </div>
                                </div>
                                <div class="middle">
                                    <ul>
                                        {% for project in me.info.projects %}
                                        <li>{{ project.name_en }} <span>${{ project.price_one_project_en }} <small>(p/pjct)</small></span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="bottom">
                                    <button class="def-btn" data-bs-toggle="modal" data-bs-target="#pricingModal">Start A Project</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-price">
                                <div class="top">
                                    <h3>Multiple</h3>
                                    <div class="part-icon">
                                        <span><i class="fa-light fa-medal"></i></span>
                                    </div>
                                </div>
                                <div class="middle">
                                    <ul>
                                        {% for project in me.info.projects %}
                                        <li>{{ project.name_en }} <span>${{ project.price_many_project_en }} <small>(p/pjct)</small></span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="bottom">
                                    <button class="def-btn" data-bs-toggle="modal" data-bs-target="#pricingModal">Start A Project</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-price">
                                <div class="top">
                                    <h3>Day Based</h3>
                                    <div class="part-icon">
                                        <span><i class="fa-light fa-sparkles"></i></span>
                                    </div>
                                </div>
                                <div class="middle">
                                    <ul>
                                        {% for project in me.info.projects %}
                                        <li>{{ project.name_en }} <span>${{ project.price_one_day_en }} <small>(p/day)</small></span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="bottom">
                                    <button class="def-btn" data-bs-toggle="modal" data-bs-target="#pricingModal">Start A Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ SERVICE SECTION END ============ -->


        <!-- ============ PORTFOLIO SECTION START ============ -->
        <div class="portfolio section-panel" id="portfolio">
            <button class="panel-close-btn" data-close="portfolio"><i class="fa-light fa-xmark"></i></button>
            <div class="portfolio-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <h2 class="section-title title-center">Take a look on <span>my past</span></h2>
                        </div>
                    </div>
                    <div class="filter-nav">
                        <button class="filter-btn active" data-filter="all">Show All</button>
                        {% for category in me.info.categories %}
                        <button class="filter-btn" data-filter="{{ category.filter_tag }}">{{ category.name_en }}</button>
                        {% endfor %}
                    </div>
                    <div class="portfolio-row">
                        {% for ws in me.info.work_samples %}
                        <div class="custom-col {{ ws.category.filter_tag }}">
                            <div class="single-portfolio-box">
                                <div class="part-img">
                                    <img src="{{ ws.image.url }}" alt="{{ ws.title_en }}">
                                </div>
                                <div class="part-txt">
                                    <span class="category">{{ ws.category.name_en }}</span>
                                    <h3>{{ ws.title_en }}</h3>
                                    <ul class="info">
                                        <li><span>Start:</span> {{ ws.start_at_en }}</li>
                                        <li><span>End:</span> {{ ws.end_at_en }}</li>
                                    </ul>
                                    <div class="bottom">
                                        <div class="star">
                                            {% for _ in ws.get_generate_rate %}
                                            <i class="fa-solid fa-star-sharp rated"></i>
                                            {% endfor %}
                                            {% for _ in ws.get_generate_un_rate %}
                                            <i class="fa-solid fa-star-sharp"></i>
                                            {% endfor %}
                                        </div>
                                        <a href="{{ ws.website_url }}">Visit Site <span><i class="fa-regular fa-arrow-right"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <h3 class="empty-msg">Nothing to show in this category &#128549;</h3>
                    </div>
                </div>
            </div>
            <div class="our-client">
                <div class="container">
                    <div class="client-slider">
                        {% for partner in me.info.partners %}
                        <div class="single-client">
                            <img src="{{ partner.image.url }}" alt="{{ partner.name }}">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-5">
                            <h2 class="section-title title-center">Clients Says About <span>me</span></h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-md-10">
                            <div class="testimonial-slider">
                                {% for feedback in me.info.feedbacks %}
                                <div class="single-feedback">
                                    <div class="part-img">
                                        <img src="{{ feedback.image.url }}" alt="{{ feedback.fullname_en }}">
                                    </div>
                                    <div class="part-txt">
                                        <p>{{ feedback.description_en }}</p>
                                        <h3>{{ feedback.fullname_en }}</h3>
                                        <span>{{ feedback.position_en }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ PORTFOLIO SECTION END ============ -->


        <!-- ============ FAQ SECTION START ============ -->
        <div class="faq section-panel" id="faq">
            <button class="panel-close-btn" data-close="faq"><i class="fa-light fa-xmark"></i></button>
            <div class="faq-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <h2 class="section-title title-center">Frequently asked <span>question</span></h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-10">
                            <div class="faq-box">
                                {% for qa in me.info.questions %}
                                <div class="single-card">
                                    <div class="faq-header">
                                        <h3>{{ qa.question_en }}</h3>
                                        <div class="icon">
                                            <i class="fa-light fa-plus"></i>
                                        </div>
                                    </div>
                                    <div class="faq-body">
                                        <p>{{ qa.answer_en }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ FAQ SECTION END ============ -->


        <!-- ============ GALLERY SECTION START ============ -->
        <div class="gallery section-panel" id="gallery">
            <button class="panel-close-btn" data-close="gallery"><i class="fa-light fa-xmark"></i></button>
            <div class="gallery-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <h2 class="section-title title-center">my <span>photo</span> gallery</h2>
                        </div>
                    </div>
                    <div class="row g-4">
                        {% for gallery in me.info.galleries %}
                        <div class="{{ gallery.size }}">
                            <div class="single-img">
                                <img src="{{ gallery.image.url }}" alt="{{ gallery.name }}">
                                <div class="hover">
                                    <button><i class="fa-light fa-plus"></i></button>
                                    <p>{{ gallery.title_en }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %} >
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ GALLERY SECTION END ============ -->


        <!-- ============ BLOG SECTION START ============ -->
        <div class="blog section-panel" id="blog">
            <button class="panel-close-btn" data-close="blog"><i class="fa-light fa-xmark"></i></button>
            <div class="blog-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <h2 class="section-title title-center">my latest <span>article</span> collection</h2>
                        </div>
                    </div>
                    <div class="row g-4 justify-content-center">
                        {% for post_list in posts_part %}
                        {% for post in post_list %}
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="single-blog">
                                <div class="part-img">
                                    <img src="{{ post.image_cover.url }}" alt="{{ post.title_en }}">
                                </div>
                                <div class="part-txt">
                                    <h3><a href="#" data-bs-toggle="modal" data-bs-target="#blogModal{{ post.id }}">{{ post.title_en }}</a></h3>
                                    <ul>
                                        <li><span><i class="fa-duotone fa-user-pen"></i></span>{{ post.author_en }}</li>
                                        <li><span><i class="fa-duotone fa-calendar"></i></span>{{ post.date|date_format }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% if forloop.counter == 1 %}
                        <div class="col-12">
                            <div class="subscribe-wrap">
                                <div class="subscribe">
                                    <h3>subscribe my newsletter</h3>
                                    <form action="" method="post">{% csrf_token %}
                                        {{ newsletter_form.email }}
                                        <input type="hidden" name="form_class" value="newsletter_form">
                                        <button type="submit" class="def-btn">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ BLOG SECTION END ============ -->


        <!-- ============ CONTACT SECTION START ============ -->
        <div class="contact section-panel" id="contact">
            <button class="panel-close-btn" data-close="contact"><i class="fa-light fa-xmark"></i></button>
            <div class="contact-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-5">
                            <h2 class="section-title title-center">get in touch with <span>me</span></h2>
                        </div>
                    </div>
                    <div class="row g-0 justify-content-center">
                        <div class="col-lg-6 col-md-7 col-sm-6 order-e">
                            <form class="contact-form" action="" method="post">{% csrf_token %}
                                <div class="form-group">
                                    <label>Your full name</label>
                                    {{ contact_form.fullname }}
                                </div>
                                <div class="form-group">
                                    <label>Your phone number</label>
                                    {{ contact_form.phone_number }}
                                </div>
                                <div class="form-group">
                                    <label>Your email address</label>
                                    {{ contact_form.email }}
                                </div>
                                <div class="form-group">
                                    <label>Subject</label>
                                    {{ contact_form.subject }}
                                </div>
                                <div class="form-group">
                                    <label>Write your message</label>
                                    {{ contact_form.message }}
                                </div>
                                <input type="hidden" name="form_class" value="contact_form">
                                <button type="submit" class="def-btn">Send Message</button>
                            </form>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-6">
                            <div class="contact-info">
                                <div class="single-box">
                                    <div class="part-icon">
                                        <i class="fa-duotone fa-phone"></i>
                                    </div>
                                    <div class="part-txt">
                                        {% for number in me.info.about.phone_numbers.all %}
                                        <a href="#">{{ number.phone_number }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="single-box">
                                    <div class="part-icon">
                                        <i class="fa-duotone fa-envelope"></i>
                                    </div>
                                    <div class="part-txt">
                                        {% for me_email in me.info.about.emails.all %}
                                        <a href="#">{{ me_email.email }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="single-box">
                                    <div class="part-icon">
                                        <i class="fa-duotone fa-map-location-dot"></i>
                                    </div>
                                    <div class="part-txt">
                                        <p>{{ me.info.about.address_en }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============ CONTACT SECTION END ============ -->
    </div>


    <!-- ============ PRICING MODAL ============ -->
    <div class="modal fade" id="pricingModal" tabindex="-1" aria-labelledby="pricingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pricingModalLabel">Start a project</h5>
                    <button type="button" data-bs-dismiss="modal"><i class="fa-light fa-xmark"></i></button>
                </div>
                <div class="modal-body">
                    <form class="pricing-form" action="" method="post">{% csrf_token %}
                        <div class="row g-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Your Name</label>
                                    {{ project_form.name }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Your Phone Number</label>
                                    {{ project_form.phone_number }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Your Email</label>
                                    {{ project_form.email }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Select a subject</label>
                                    {{ project_form.subject }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Your Meassage...</label>
                                    {{ project_form.message }}
                                </div>
                            </div>
                            <input type="hidden" name="form_class" value="project_form">
                            <div class="col-12">
                                <div class="btn-box justify-content-end">
                                    <button type="button" class="def-btn def-btn-2 border" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="def-btn">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ============ PRICING MODAL ============ -->


    <!-- ============ LIGHTBOX MODAL MODAL ============ -->
    <div class="image-lightbox-panel">
        <img class="lightbox-image" src="" alt="Image">
    </div>
    <!-- ============ LIGHTBOX MODAL MODAL ============ -->


    <!-- ============ BLOG MODAL ============ -->
    {% for post in posts %}
    <div class="modal fade" id="blogModal{{ post.id }}" tabindex="-1" aria-labelledby="blogModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-bs-dismiss="modal"><i class="fa-light fa-xmark"></i></button>
                </div>
                <div class="modal-body">
                    <div class="blog-details">
                        <div class="part-img">
                            <img src="{{ post.image.url }}" alt="{{ post.title_en }}">
                        </div>
                        <div class="part-txt">
                            <h2 class="blog-title">{{ post.title_en }}</h2>
                            <ul>
                                <li><span><i class="fa-duotone fa-user-pen"></i></span>{{ post.author_en }}</li>
                                <li><span><i class="fa-duotone fa-calendar"></i></span>{{ post.date|date_format }}</li>
                            </ul>
                            {{ post.body_en|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- ============ BLOG MODAL ============ -->



    <!-- ============ JQUERY ============ -->
    <script src="{% static 'vendor/js/jquery-3.6.0.min.js' %}"></script>
    <!-- ============ ALL PLUGIN JS ============ -->
    <script src="{% static 'vendor/js/plugin.js' %}"></script>
    <!-- ============ CUSTOM JS ============ -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/ltr.js' %}"></script>
</body>
</html>